<div th:fragment="request-user" class="request-user" >
    <div class="request-field" ><div class="request-name" >Страна:</div><div class="country-request" >Беларусь</div></div>
    <div class="request-field" ><div class="request-name" >Регион:</div><div class="region-request" >Гомельская область</div></div>
    <div class="request-field" ><div class="request-name" >Город:</div><div class="city-request" >Гомель</div></div>
    <div class="request-field" ><div class="request-name" >Год:</div><div class="age-request" >1800г</div></div>
    <div class="request-field" ><div class="request-name" >Тип:</div><div class="type-request" >ПГМ</div></div>
    <div class="request-field" ><div class="request-name" >Комментарий:</div><div class="comment-request" >Близ лежащие районы гомеля и окресностей</div></div>
    <div class="request-field" ><div class="state-request" >
        <div class="left-state" ><div class="state-field" >Дата:</div><div class="date-request" >06.06.2021</div></div>
        <div class="right-state" ><div class="state-field" >Состояние:</div><div class="status-request" >Обработка</div></div>
        </div></div>
</div>