<div th:fragment="request-user" class="request-user" >
    <div class="country-request" >Беларусь</div>
    <div class="region-request" >Гомельская область</div>
    <div class="city-request" >Гомель</div>
    <div class="age-request" >1800г</div>
    <div class="type-request" >ПГМ</div>
    <div class="comment-request" >Близ лежащие районы гомеля и окресностей</div>
    <div class="state-request" >
        <div class="date-request" >06.06.2021</div>
        <div class="status-request" >Обработка</div>
    </div>
</div>