@font-face {
font-family: "TriodPostnaja";
src: url("/fonts/TriodPostnaja.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Ponter";
src: url("/fonts/Ponter.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.top_nav {
  width: 100%;
  margin: auto;
  height: 60px;
  background: #1a181b;
  padding: 10px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_nav .left {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.top_nav .left img {
    margin-top: 5px;
}

.top_nav .left .logo a {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  margin-right: 20px;
  font-family: 'TriodPostnaja' ,sans-serif;
}

.top_nav .left .logo {
  margin-left: 20px;
}

.top_nav .left .logo a span {
  color: white;
  font-family: 'TriodPostnaja' ,sans-serif;
}

.search-form {
    position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_nav .left .search-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  margin-left: 100px;
    position: relative;
}

.top_nav .left .search-form .block-ser-butt {
    position: relative;
    box-sizing: border-box;
}

.top_nav .left .search-form .block-ser-butt input[type="text"] {
  flex: 1;
  padding: 10px 40px;
  font-size: 16px;
  color: #1a181b;
  font-weight: 700;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  min-width: 260px;
  border: 1px solid white;
}

.btn_area {
  border: none;
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
  padding: 10px 30px;
  font-size: 16px;
  background: #890000;
  color: #fff;
  font-weight: 500;
  outline: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn_area:hover{
  text-decoration-line: underline;
}

.top_nav .left .search-form .block-ser-butt input[type="text"]:hover {
  box-shadow: -8px 0 25px white;
}

.top_nav .left .search-form .btn_area:hover {
  box-shadow: 8px 0 25px #890000;
}

.top_nav .right ul {
  display: flex;
}

.top_nav .right ul li {
  margin: 0 15px;
}

.top_nav .right ul li a {
  font-family: 'TriodPostnaja' ,sans-serif;
  font-size: 20px;
  display: block;
  padding: 8px 10px;
  color: white;
}

.top_nav .right ul li a:after {
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 1px; /*задаём высоту линии*/
  width: 0; /*задаём начальную ширину элемента (линии)*/
  background-color: white; /*цвет фона элемента*/
  transition: width 0.3s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
  }

.top_nav .right ul li a:hover:after {
  width: 100%;
}

.top_nav .right ul li:last-child {
  display: flex;
}

.top_nav .right ul li:last-child .counterPr {
  height: 25px;
  width: 25px;
  color: white;
  background: #1a181b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #890000;

}

.logo-pict {
    padding-top: 10px;
}

.bottom_nav {
    min-width: 1000px;
  width: 100%;
  background: #1a181b;
  box-shadow:  0 5px 5px -5px #890000;
  height: 60px;
  padding: 0 50px;
  border-bottom: 1px solid #890000;
}

.bottom_nav ul{
  padding-right: 120px;
  padding-left: 120px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_nav ul li a{
  text-shadow: #890000;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.bottom_nav ul li a:hover {
  border-bottom: 1px solid white;
}

.top_nav .left .search-form .block-list-search {
    position: relative;
    width: 100%;
    display: block;
}

.top_nav .left .search-form .block-list-search .suggestions {
    position: absolute;
    top: 0;
    background: #FFFFFF;
    color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 99999;
}

.top_nav .left .search-form .block-list-search .suggestions > div {
    padding: 15px;
    font-size: 20px;
    color: black;
    border-top: 1px solid #666;
    cursor: pointer;
}

.top_nav .left .search-form .block-list-search .suggestions > div:hover {
    background-color: #1e4dd4;
}