.center-block {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
}

.left-panel-person {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.left-panel-person li{
    text-align: center;
    padding: 5px;
    width: 150px;
    height: 30px;
}

.left-panel-person li a{
    width: 100%;
    height: 100%;
}

.right-panel-profile {
    min-height: 600px;
    min-width: 800px;
    margin: 30px;
    width: 100%;
    background: #F5F5F5;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

.right-panel-profile .name-element-person {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'A_La_Russ', sans-serif;
}

.right-panel-profile .panel-profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.right-panel-profile .panel-profile .panel {
    background: white;
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.right-panel-profile .panel-profile .panel div{
    font-size: 20px;
    font-family: Oswald, sans-serif;
    margin-bottom: 5px;
}

.right-panel-profile .panel-profile .panel .field-element-profile{
    display: flex;
    justify-content: space-between;
}

.right-panel-profile .panel-profile .panel .field-element-profile .element-profile {
    width: 50%;
}

.right-panel-profile .panel-profile .panel .field-element-profile .name-element-profile {
    width: 50%;
    opacity: 0.7;
}

.right-panel-profile .panel-profile .panel  .field-element-profile-about {
    margin-top: 20px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}

.right-panel-profile .panel-profile .panel .element-profile-about {
    white-space: normal;
    width: 100%;
}

.right-panel-profile .panel-profile .panel-edit {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    padding: 40px;
    background: white;
}

.right-panel-profile .panel-profile .panel-edit form{
    display: flex;
    flex-direction: column;
}

.right-panel-profile .panel-profile .panel-photo {
    background: white;
    width: 35%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: max-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.right-panel-profile .panel-profile .panel-photo .profile-photo{
    height: 200px;
    width: 200px;
    margin: 20px auto 30px;
}

.right-panel-profile .panel-profile .panel-photo .profile-photo img{
    height: 100%;
    width: 100%;
}

.buttons-profile {
display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%
}

.buttons-profile .edit-profile {
    color: #FFFFFF;
    background: #890000;
    display: flex;
    width: 140px;
    height: 35px;
    font-size: 16px!important;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buttons-profile .reset-password {
    color: #FFFFFF;
    display: flex;
    background: #890000;
    width: 150px;
    font-size: 16px!important;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.buttons-profile .reset-password:hover {
    cursor: pointer;
    opacity: 0.7;
}

.buttons-profile .edit-profile:hover {
    cursor: pointer;
    opacity: 0.7;
}

.date-register {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.7;
}

.rating-user {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
    opacity: 0.7;
}

.rating-user .name-rating{
    color: #890000;
}

.rating-user .name-rating:hover{
    color: #890000 ;
    opacity: 1.0;
    cursor: pointer;
}

.right-panel-maps {
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-block{
    background: #F5F5F5;
    display: flex;
}

.button-person {
    color: #FFFFFF;
    display: flex;
    background: #890000;
    width: 150px;
    font-size: 16px!important;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.right-panel-person {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.button-person:hover {
    cursor: pointer;
    opacity: 0.7;
}

.create-request-area {
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-request-area h2{
    margin-top: 30px;
    width: max-content;
}

.create-request-area form{
    display: flex;
    flex-direction: column;
}

.create-request-area form .request-field-create {
    display: flex;
    margin-top: 40px;
    font-size: 20px;
    font-family: Oswald, sans-serif;
}

.create-request-area form .request-field-create .create-name{
    width: 250px;
}

.button-request {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.button-request .button-person{
    margin-left: 0;!important;
}

.request-field-create textarea {
    width: 300px;
    height: 130px;
}