.fon-the-product {
    display: block;
    height: 100%;
    background: white;
    width: 100%;
}

.block-inside-fon {
    width: 100%;
    background: white;
    padding: 100px 150px;
    display: flex;
    flex-direction: row;
}

.fon-the-product .block-inside-fon img{
    max-width: 400px;
    height: auto;
    justify-content: center;
}

.fon-the-product .block-inside-fon .right-table-the-product {
    font-family: Oswald-Medium, sans-serif;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    margin-left: 80px;
}

.fon-the-product .block-inside-fon .right-table-the-product .rating-area{
    overflow: hidden;
    width: 265px;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
    content: '★';
}
.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
    position: relative;
}



.fon-the-product .block-inside-fon .right-table-the-product .name-product {
    font-size: 50px;
    font-weight: 600;
    font-family: A_La_Russ, sans-serif;
    color: #1a181b;
}

.fon-the-product .block-inside-fon .right-table-the-product .description-the-product {
    margin-top: 10px;
}

.fon-the-product .block-inside-fon .right-table-the-product div{
    margin-bottom: 10px;
}

.fon-the-product .block-inside-fon .right-table-the-product .btn-add-to-cart {
    margin-top: 10px;
    width: 100%;
}

.btn-add-to-cart button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
}

.btn-add-to-cart button {

appearance: none;
    border: 2px solid #890000;
background: #890000;
color: #fff;
padding: 8px 16px;
cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    transition: transform 0.1s;
    font-size: 15px;
    font-family: 'Ponter', sans-serif;
}

.btn-add-to-cart button:hover {
    background: red;
    transform: scale(1.1);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.btn-add-to-cart button:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.fon-bottom-the-product {
    height: 100%;
    border-top: 1px solid silver;
    padding: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

.fon-bottom-the-product .block1-fon-bottom-the-product {
    display: flex;
    justify-content: space-between;
}

.fon-bottom-the-product .block1-fon-bottom-the-product .feedback-count{
    font-size: 25px;
    font-family: Ponter, sans-serif;
    letter-spacing: 2px;
    color: #890000;
}

.fon-bottom-the-product .block_with_comments {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fon-bottom-the-product .block_with_comments .product-comment {
    margin: 20px;
    display: flex;
}

.fon-bottom-the-product .block_with_comments .product-comment img{
    height: 100px;
}

.fon-bottom-the-product .block_with_comments .product-comment .comment-block {
    width: 100%;
    margin-left: 30px;
    background: #fbfbfb;
}

.fon-bottom-the-product .block_with_comments .product-comment .comment-block .top-comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
}

.fon-bottom-the-product .block_with_comments .product-comment .comment-block .top-comment .comment-name{
    font-size: 18px;
    font-weight: 600;
}

.fon-bottom-the-product .block_with_comments .product-comment .comment-block .comment-text{
    margin: 10px;
    font-size: 14px;
}

.fon-bottom-the-product .block_with_comments .product-comment .comment-block .comment-answer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    padding: 10px;

}


.write-review-block {
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
}

.write-review-block .send-comment {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 60px;
}

.write-review-block .send-comment .top-send-comment {
    display: flex;
}

.write-review-block .send-comment .bottom-send-comment {

    margin-top: 5px;
    display: flex;
}

.write-review-block .send-comment .bottom-send-comment .btn-send-cancel {
    background: #890000;
    margin: 5px;
    color: #FFFFFF;
    position: absolute;
    right: 120px;
}

.write-review-block .send-comment .bottom-send-comment .btn-send-comment {
    background: #890000;
    margin: 5px;
    color: #FFFFFF;
    width: max-content;
    position: absolute;
    right: 0;
}

.write-review-block .send-comment .img-profile {
    width: 100px;
    height: 100%;
}

.write-review-block .send-comment .text-comment {
    margin-left: 20px;
    width: 600px;
    height: 100%;
}

/*.write-review-block .send-comment .btn-send-comment {*/
/*    width: 10%;*/
/*    height: 100%;*/
/*}*/

