<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Археопортал</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_header.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_archportal-page.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_footer.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_pager.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_login.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_register-page.css}"/>
    <script type="text/javascript" th:src="@{/js/addEmail.js}"></script>
    <script type="text/javascript" th:src="@{/js/Search.js}"></script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="content-place">
    <div class="head">
        <h3>Археопортал</h3>
    </div>
    <div class="category_portal">
        <div class="element-category-portal" th:each="cat : ${categories}">
            <a th:href="'/archportal/' + ${cat.getUrlNameCategory()}" th:text="${cat.getNameCategory()}"></a></div>
    </div>
    <div class="undhead">
        <div class="count_el" th:text="'Всего статей: ' + ${countPortalNews}"></div>
    </div>
    <div class="gridGood">

        <div class="el-img" th:each="elAr : ${portalNewsList}">

            <div class="image-place">
                <a href="#"><img class="pic" th:src="${elAr.getUrlPicture()}" alt="">

                    <ul class="icon">
                        <li>10 <a href="#"><i class="fas fa-comments"></i></a></li>
                        <li>8 <a href="#"><i class="fas fa-heart"></i></a></li>
                        <li>44 <a href="#"><i class="fas fa-eye"></i></a></li>
                    </ul>
                </a>
            </div>
            <div class="el-detail">
                <div class="el-date">11.01.2021</div>
                <div class="el-title">
                    <h3><a th:href="'/news/' + ${elAr.getId()}" th:text="${elAr.getTitle()}"></a></h3>
                </div>
            </div>

        </div>


    </div>

    <div class="pager" th:if="${category}">
        <ul>
            <li th:if="${sort}" th:each="page : ${countPage}">
                <a th:href="'/maps/' + ${category} + '?sort=' + ${sort} + '&page=' + ${page}" th:text="${page}"></a>
            </li>
            <li th:unless="${sort}" th:each="page : ${countPage}">
                <a th:href="'/maps/' + ${category} + '?page=' + ${page}" th:text="${page}"></a></li>
        </ul>
    </div>
    <div class="pager" th:unless="${category}">
        <ul>
            <li th:if="${sort}" th:each="page : ${countPage}"><a
                    th:href="'/maps?sort=' + ${sort} + '&page=' + ${page}" th:text="${page}"></a></li>
            <li th:unless="${sort}" th:each="page : ${countPage}"><a th:href="'/maps?page=' + ${page}"
                                                                     th:text="${page}"></a></li>
        </ul>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>