<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{assets/css/style_footer.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{assets/css/style_header.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{assets/css/style_contact-page.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{assets/css/style_login.css}"/>
    <script type="text/javascript" th:src="@{/js/addEmail.js}"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<section>
<div class="container-contact">
    <div class="contact-info">
        <div><h2>Contact Info</h2>
        <ul class="info">
            <li>
                <span><a><i class="fas fa-envelope"></i></a></span>
                <span>info@seekerfolvark.com</span>
            </li>
            <li>
                <span><a><i class="fas fa-phone-volume"></i></a></span>
                <span>+375292391133</span>
            </li>
        </ul>
        </div>
    </div>
    <div class="contact-form">
        <h2>Send a Message</h2>
        <div class="formBox">
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Email Address</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Mobile Number</span>
            </div>
            <div class="inputBox w100">
                <textarea name="" required></textarea>
                <span>Write your message here</span>
            </div>
            <div class="inputBox w100">
                <input type="submit" value="send">
            </div>
        </div>
    </div>
</div>

</section>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>