<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Карты</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{assets/css/style_header.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{assets/css/style_mapa-page.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{fontawesome/css/all.min.css}"/>
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<div class="space">

    <div class="box">
        <h3>Категории</h3>
        <ul>
            <li><span></span>Пгм</li>
            <li><span></span>10 верст</li>
            <li><span></span>3 версты</li>
            <li><span></span>Планы городов</li>
            <li><span></span>Аэрофотоснимки Люфтваффе</li>
            <li><span></span>Карты боевых позиций. Великая отечественная</li>
        </ul>
    </div>

    <div class="products">
        <div class="container wrap">
            <div class="heading">
                <h2>Карты</h2>
                <div class="underhead">
                    <div class="count_maps">Всего карт: 235</div>
                    <div class="sort">Сортировка
                        <div class="dropdown">умолчанию
                            <div class="dropdown-content">
                                <a href="#">умолчанию</a>
                                <a href="#">цене</a>
                                <a href="#">популярности</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Гомельский уезд</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="row">
                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="#">
                                <img class="pic-1" src="images/KWJCSmQR_aY.jpg" alt="">
                            </a>
                            <span class="product-label">Sale</span>
                            <span class="product-label-discount">20%</span>

                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a href="#">Add to cart</a></div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a href="#">Get hot outside</a></h3>
                            </div>
                            <div class="product-price">15р</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>