<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Карты</title>
    <script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/addEmail.js}"></script>
    <script type="text/javascript" th:src="@{/js/modalShow.js}"></script>
    <script type="text/javascript" th:src="@{/js/addToCart.js}"></script>
    <script type="text/javascript" th:src="@{/js/Search.js}"></script>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_header.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_mapa-page.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_footer.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_pager.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_login.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_register-page.css}"/>

</head>

<body>
<header th:insert="blocks/header :: header"></header>

<div class="space">

    <div id="modal_1" class="dlg-modal">
        <ul>
            <li>✔</li>
            <li>Товар добавлен в корзину</li>
            <li><i class="close-btn fas fa-times"></i></li>
        </ul>
    </div>

    <div class="box">
        <h3>Категории</h3>
        <ul>
            <li th:each="cate : ${categories}"><a th:href="'/maps/' + ${cate.getUrlNameCategory()}"
                                                  th:text="${cate.getNameCategory()}"></a></li>
        </ul>
    </div>

    <div class="products">
        <div class="container-flex">
            <div class="heading">
                <h2 th:text="${header}"></h2>
                <div class="underhead">
                    <div class="count_maps" th:text="'Всего карт: ' + ${countProduct}"></div>
                    <div class="sort">Сортировка
                        <div class="dropdown">умолчанию
                            <div class="dropdown-content">
                                <a th:if="${category}" th:href="'/maps/' + ${category} + ${pageN}">умолчанию</a>
                                <a th:unless="${category}" th:href="'/maps/' + ${pageN}">умолчанию</a>

                                <a th:if="${category}"
                                   th:href="'/maps/' + ${category} + '?sort=price' + ${pageN} ">цене</a>
                                <a th:unless="${category}" th:href="'/maps/' + '?sort=price' + ${pageN} ">цене</a>

                                <a th:if="${category}" th:href="'/maps/' + ${category} + '?sort=' + ${pageN} ">популярности</a>
                                <a th:unless="${category}" th:href="'/maps/' + '?sort=' + ${pageN}">популярности</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-products">

                <th:block th:each="el : ${products}">

                    <div th:if="${el.isAvailability()}" class="product-flex-added">
                        <div class="product-img">
                            <a th:href="'/product/' + ${el.getProductMap().getId()}">
                                <img class="img-product-map" th:src="${el.getProductMap().getUrlPicture()}">
                            </a>
                            <ul class="icon">
                                <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <div class="add-to-cart"><a th:data-id="${el.getProductMap().getId()}">Уже в корзине</a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="product-title">
                                <h3><a th:href="'/product/' + ${el.getProductMap().getId()}"
                                       th:text="${el.getProductMap().getName()}"></a></h3>
                            </div>
                            <div class="product-price" th:text="${el.getProductMap().getPrice()} + ' руб'"></div>
                        </div>
                    </div>


                    <div th:unless="${el.isAvailability()}" class="product-flex">
                    <div class="product-img">
                        <a th:href="'/product/' + ${el.getProductMap().getId()}">
                            <img class="img-product-map" th:src="${el.getProductMap().getUrlPicture()}">
                        </a>
                        <ul class="icon">
                            <li><a href="#"><i class="fas fa-cart-plus "></i></a></li>
                            <li><a href="#"><i class="fas fa-heart"></i></a></li>
                            <li><a href="#"><i class="fas fa-eye"></i></a></li>
                        </ul>
                        <div class="add-to-cart"><a onclick="addToCart(this); flyProduct(this); modalShow()"
                                                    th:data-id="${el.getProductMap().getId()}">В корзину</a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="product-title">
                            <h3><a th:href="'/product/' + ${el.getProductMap().getId()}"
                                   th:text="${el.getProductMap().getName()}"></a></h3>
                        </div>
                        <div class="product-price" th:text="${el.getProductMap().getPrice()} + ' руб'"></div>
                    </div>
                </div>
                </th:block>
            </div>

        </div>

        <div class="pagerTop" th:if="${countPage}"></div>

        <div class="pagerTop" th:unless="${countPage}">

            <div class="pager" th:if="${category}">
                <ul>
                    <li th:if="${sort}" th:each="page : ${countPage}">
                        <a th:href="'/maps/' + ${category} + '?sort=' + ${sort} + '&page=' + ${page}" th:text="${page}"></a>
                    </li>
                    <li th:unless="${sort}" th:each="page : ${countPage}">
                        <a th:href="'/maps/' + ${category} + '?page=' + ${page}" th:text="${page}"></a></li>
                </ul>
            </div>
            <div class="pager" th:unless="${category}">
                <ul>
                    <li th:if="${sort}" th:each="page : ${countPage}"><a
                            th:href="'/maps?sort=' + ${sort} + '&page=' + ${page}" th:text="${page}"></a></li>
                    <li th:unless="${sort}" th:each="page : ${countPage}"><a th:href="'/maps?page=' + ${page}"
                                                                             th:text="${page}"></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>