<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_person.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_login.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_header.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_footer.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/fontawesome/css/all.min.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="center-block" >
<div th:insert="blocks/left-panel-person :: left-panel-person"></div>
    <div class="right-panel-person" ></div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>