<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_profile-page.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_register-page.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_login.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_footer.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_header.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>


<div class="header-profile">
    <h2>Профиль</h2>
</div>

<div class="space-profile">
    <div class="top-space-profile">
        <div class="left-panel-profile">
            <div class="top-profile">
                <div class="img-person">
                    <img src="images/unnamed.jpg">
                </div>
                <div class="person-menu">
                    <a class="login-person">unknown</a>
                    <a class="name-person">Васильев Василий Васильевич</a>
                    <a class="favorite-profile">избранное</a>
                    <a class="cart-profile">корзина</a>
                    <a class="my-maps-profile">мои карты</a>
                    <a class="my-maps-profile">сообщения</a>
                    <a class="edit-profile">мои купоны</a>
                </div>
            </div>
            <div class="bottom-profile">
                <div>Дата регистрации: 01.01.1901</div>
                <div class="rating-profile">Репутация: новичек</div>
            </div>
        </div>
        <div class="right-panel-profile">
            <div class="comments-panel">
                <div class="el-comments-profile">Есть ли жизнь на дне?</div>
                <div class="el-comments-profile">Можно ли приобрести с координатной сеткой?</div>
                <div class="el-comments-profile">Нужна такая же только на окрестности Гомеля, найти сможете?</div>
                <div class="el-comments-profile">Как пройти в библиотеку?</div>
                <div class="el-comments-profile">Продам монеты РИ недорого в личку</div>
            </div>
        </div>
    </div>
    <div class="bottom-space-profile">
        <div class="my-maps-panel">
            <div class="header-maps-panel">
                <h3>Мои карты</h3>
                <div class="search-my-maps">
                    <p class="number-maps">Количество: 10</p>
                    <div class="search-bar-maps">
                        <input type="text" id="field_sear" class="search-input"
                               placeholder="Поиск..."/>
                    </div>
                </div>
            </div>
            <div class="maps-el-profile">
                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 1</a>
                    <input class="loading" type="submit" value="Скачать">

                </div>
                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 2</a>
                    <input class="loading" type="submit" value="Скачать">

                </div>
                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 3</a>
                    <input class="loading" type="submit" value="Скачать">

                </div>
                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 4</a>
                    <input class="loading" type="submit" value="Скачать">
                </div>

                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 4</a>
                    <input class="loading" type="submit" value="Скачать">
                </div>

                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 4</a>
                    <input class="loading" type="submit" value="Скачать">
                </div>

                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 4</a>
                    <input class="loading" type="submit" value="Скачать">
                </div>

                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 4</a>
                    <input class="loading" type="submit" value="Скачать">
                </div>

                <div class="element-my-maps">
                    <img src="images/unnamed.jpg">
                    <a>Карта 4</a>
                    <input class="loading" type="submit" value="Скачать">
                </div>

            </div>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>