<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_person.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_login.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_header.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_footer.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/fontawesome/css/all.min.css}"/>
    <script type="text/javascript" th:src="@{/js/Profile.js}"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="center-block">
    <div th:insert="blocks/left-panel-person :: left-panel-person"></div>
    <div class="right-panel-profile">
<!--        <div class="name-element-person"><h2 th:text="${nameElement}"></h2></div>-->
        <div class="panel-profile">
            <div class="panel-photo">
                <div class="profile-photo" th:if="${urlPhoto}"><img th:src="${urlPhoto}"></div>
                <div class="profile-photo" th:unless="${urlPhoto}"><img src="/images/unnamed.jpg"></div>
                <div class="date-register">Дата регистрации: 04.03.2021</div>
                <div class="rating-user">Звание: <div class="name-rating" >Всевидящий</div></div>
            </div>
            <div class="panel">
                    <div class="field-element-profile">
                        <div class="name-element-profile" th:text="${fieldLoginName}+':'"></div>
                        <div class="element-profile" th:text="${loginName}"></div>
                    </div>
                    <div class="field-element-profile">
                        <div class="name-element-profile" th:text="${fieldFirstName}+':'"></div>
                        <div class="element-profile" th:text="${firstName}"></div>
                    </div>
                    <div class="field-element-profile">
                        <div class="name-element-profile" th:text="${fieldLastName}+':'"></div>
                        <div class="element-profile" th:text="${lastName}"></div>
                    </div>
                    <div class="field-element-profile">
                        <div class="name-element-profile" th:text="${fieldMiddleName}+':'"></div>
                        <div class="element-profile" th:text="${middleName}"></div>
                    </div>
                    <div class="field-element-profile">
                        <div class="name-element-profile" th:text="${fieldBirthday}+':'"></div>
                        <div class="element-profile" th:text="${birthday}"></div>
                    </div>
                    <div class="field-element-profile">
                        <div class="name-element-profile" th:text="${fieldGender}+':'"></div>
                        <div class="element-profile" th:text="${gender}"></div>
                    </div>
                    <div class="field-element-profile">
                        <div class="name-element-profile" th:text="${fieldNumberPhone}+':'"></div>
                        <div class="element-profile" th:text="${numberPhone}"></div>
                    </div>
                    <div class="field-element-profile">
                        <div class="name-element-profile" th:text="${fieldEmail}+':'"></div>
                        <div class="element-profile" th:text="${email}"></div>
                    </div>
                <div class="field-element-profile-about">
                    <div class="name-element-profile" th:text="${fieldAbout}+':'"></div>
                    <div class="element-profile-about" th:text="${about}"></div>
                </div>
                <div class="buttons-profile">
                    <div class="edit-profile" onclick="openEdit(this)" >Редактировать</div>
                    <div class="reset-password">Сбросить пароль</div>
                </div>
            </div>
            <div class="panel-edit">
                <form>
                    <input th:value="${loginName}">
                    <input th:value="${firstName}">
                    <input th:value="${lastName}">
                    <input th:value="${middleName}">
                    <input th:value="${birthday}">
                    <input th:value="${gender}">
                    <input th:value="${numberPhone}">
                    <input th:value="${email}">
                    <div class="buttons-profile">
                        <button type="submit" class="save-profile">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>