<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_person.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_login.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_header.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_footer.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_left-panel-person.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/assets/css/style_mapa-page.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="center-block">
    <th:block th:insert="blocks/left-panel-person :: left-panel-person"></th:block>
    <div class="right-panel-person">
        <div class="products">
            <div class="container-flex">
                <div class="header-request">
                    <div class="buttons-profile">
                        <div class="button-person"><a href="/requests/new-request" >Сделать Запрос</a></div>
                    </div>
                    <div class="count_req">Всего запросов: 4</div>
                </div>
                <div class="box-products">
<th:block th:insert="blocks/element/request :: request-user" ></th:block>
<th:block th:insert="blocks/element/request :: request-user" ></th:block>
<th:block th:insert="blocks/element/request :: request-user" ></th:block>
<th:block th:insert="blocks/element/request :: request-user" ></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>