<div th:fragment="footer">
    <div class="footer-container">
        <div class="left-cool">
            <div class="name">
            <h1>Фольварк Искателя</h1>
            <p>&COPY;</p>
        </div>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-vk"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
            <p class="right-text">&COPY; 2021 Created by Plethora</p>
        </div>

        <div class="right-col">
            <h1>Наша лента</h1>
            <div class="border"></div>
            <p>Отправьте нам свою почту что бы получать новости</p>
            <div class="newsletter-form">
                <input type="email" name="eml" class="txtb" id="text-email" placeholder="Enter your email">
                <input type="submit" class="btn" id="btn-email" name="" value="Отправить" onclick="addEmail()">
            </div>
        </div>

    </div>
</div>