<div th:fragment="header">
    <div class="wrapper">
            <div class="top_nav">
                <div class="left">
                    <img src="images/klipartz.png">
                    <div class="logo">
                        <p><span>Фольварк </span>Искателя</p>
                    </div>
                    <div class="search_bar">
                        <input type="text" placeholder="Поиск..." class="input">
                        <div class="btn_area">
                            Искать
                        </div>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li><a href="#">Войти</a></li>
                        <li><a href="#">Корзина</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom_nav">
                <ul>
                    <li><a href=/main>Главная</a></li>
                    <li><a href=/maps>Карты</a></li>
                    <li><a href=/archportal>Археопортал</a></li>
                    <li><a href=/contact>Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>