<header th:fragment="header">
    <th:block sec:authorize="isAnonymous()">
        <input type="checkbox" id="show">
        <div class="login-fon"></div>
        <div class="login-container">
            <label for="show" class="close-btn fas fa-times"></label>
            <div class="text-login">Вход</div>
            <form class="form-log" action="">
                <div class="field_log">
                    <input type="text" required>
                    <span>Электронная почта</span>
                </div>
                <div class="field_log">
                    <input type="password" required>
                    <span>Пароль</span>
                </div>
                <div class="forgot-pass"><a href="/recover">Забыли пароль?</a></div>
                <div class="log-btn">
                    <div class="inner"></div>
                    <input type="submit" value="Вход">
                </div>
                <div class="signup-link">Не зарегистрированы?<a href="/register">Регистрация</a></div>
            </form>
        </div>
    </th:block>
            <div class="top_nav">
                <div class="left">
                    <img class="logo-pict" src="/images/compas_white.png">
                    <div class="logo">
                        <a><span>Фольварк </span>Искателя</a>
                    </div>
                    <div class="search-form">
                        <div class="block-ser-butt">
                            <input type="text" id="field_sear" onkeyup="ser(this)" class="search-input"
                                   placeholder="Поиск..."/>
                            <i class="fa fa-search" id="search-ico"></i>
                            <i class="fas fa-times" id="cross-ico" onclick="clickCross()"></i>
                        </div>
                        <div class="block-list-search">
                            <div class="suggestions" id="sugg">
                                <div class="sub-suggestion" id="subsugg"></div>
                                <div class="all-result-search" id="all-res-sear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li sec:authorize="isAuthenticated()"><a class="show-user" href="/persona"
                                                                 th:text="${nameUser}"></a>
                        </li>
                        <li sec:authorize="isAnonymous()" id="btn-log-in"><label for="show"
                                                                                 class="show-btn">Войти</label></li>
                        <li><a class="cart" href="/cart">Корзина</a>
                            <div class="counterPr" th:text="${countProducts}"></div>
                        </li>
                    </ul>
                    </div>
                </div>
            <div class="bottom_nav">
                <ul>
                    <li><a href='/'>Главная</a></li>
                    <li><a href=/maps>Карты</a></li>
                    <li><a href=/archportal>Археопортал</a></li>
                    <li><a href=/contact>Контакты</a></li>
                </ul>
            </div>

</header>